// start .sBored
.sBored {
  position: relative;
  z-index: 1;
  @include media-breakpoint-up(xl) {
    --sPT: #{rem(116)};
    --sPB: #{rem(290)};
    --sTPB: #{rem(40)};
  }

  &__bg{
    position: absolute;
    top: -600px;
    background-color: $gray-100;
    //background-color: $red;
    clip-path: polygon(0 0,100% 0,100% 100%,0 81.5%);
    z-index: -2;
    left: 0;
    width: 100%;
    height: calc(100% + 600px);

    display: flex;
    align-items: flex-end;
    @include media-breakpoint-up(xxl){
      padding-bottom: rem(35);
    }
    img{
      @include media-breakpoint-down(xl){
        display: none;
      }

      width: 100%;
      max-width: 2000px;
      margin: 0 auto;
      height: auto;
    }
  }

  //-
  &__row{
    --bs-gutter-y: #{rem(60)};
    @include media-breakpoint-up(xl){
      --bs-gutter-y: #{rem(115)};
    }
  }
  .section-title{
    &--top{
      padding-bottom: 0;//?
      h2{
        text-shadow: 0 0 5px $gray-100;

        span{
          text-shadow: none;
        }
      }
    }
    &--bot{
      padding-bottom: 0;
      @include media-breakpoint-up(xl){
        max-width: rem(600);
      }
      h2{
        margin-bottom: rem(46);
      }
      p{
        @include media-breakpoint-up(xl){
          max-width: rem(475);
        }
      }
    }
  }
  &__items{
    @include media-breakpoint-up(xl){
      padding-left: rem(63);
      padding-top: rem(10);
    }
  }
  &__item{
    margin-bottom: rem(59);
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__item-row{
    --bs-gutter-x: #{rem(16)};
    @include media-breakpoint-up(sm){
      --bs-gutter-x: #{rem(28)};
    }
  }
  &__img{
    width: rem(220 * 0.5);
    height: rem(176 * 0.5);
    @include media-breakpoint-up(sm){
      width: rem(220);
      height: rem(176);
    }

    display: flex;
    align-items: center;
    justify-content: center;

    img{
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__title{
    @extend .h4;
    color: $primary;
    margin-bottom: rem(16);
  }
  &__descr{
    font-weight: 600;
    max-width: rem(296);
  }
  &__{}
} // end.sBored
