mixin footer()
	+b.FOOTER.footer.section
		.container
			.row
				.col-xl-4.col-md-auto
					p 2021 ИП Шумилова М. В.
					p ИНН: 7839141703
					p ОГРН: 316183200118945
					p Тел.: 
						a.text-body(href="tel:+7(499)450-70-51") +7 (499) 450-70-51
					p E-mail: 
						a.text-body(href="mailto:support@digitalproduct.ru") support@digitalproduct.ru
				.col
					+e.small Принимаем к оплате:
					.row.g-3.pb-3
						.col-auto
							+pic("pay-1.png",'',0)
							
						.col-auto
							+pic("pay-2.png",'',0)
						.col-auto
							+pic("pay-3.png",'',0)
					+e.small Платеж защищен
					.row.g-3
						.col-auto
							+pic("pay-4.png",'',0)
							
						.col-auto
							+pic("pay-5.png",'',0)
						.col-auto
							+pic("pay-6.png",'',0)
						.col-auto
							+pic("pay-7.png",'',0)

				.col-xl-3.col-md-auto
					ul
						li: a(href="policy.pdf" target="_blank")  Политика конфиденциальности
						li: a(href="oferta.pdf"  target="_blank")  Оферта
						li: a(href="unsub.pdf"  target="_blank")  Отменить подписку
						li: a(href="personal.pdf"  target="_blank")  Политика обработки данных
						li: a(href="#sInclude"   ).scroll-links  О продукте
						li: a(href="tarifs.pdf"  target="_blank")  Тарифы