:root {
	--fancybox-content-bg: none;
}

.fancybox__content {
	padding: 0;
	max-width: 100%;
}
.modal-win {
	// display: block;
	background-color: #fff;
	max-width: 100%;
	position: relative;
	width: 100%;
	width: 600px;
	// min-height: 100%; 
	padding: 40px;

	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}


// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(sm) {
	
	.fancybox__container {
		// width: 100% !important;
		// min-height: 100%; 
		// transform: none !important;
	}
	.fancybox__track{
		&::before,
		&::after{
			display: none;
		}
	}
}
@include media-breakpoint-down(sm) {
	.fancybox__slide{
		// max-height: 100vh;
		// overflow-x: hidden;
		// overflow-y: auto;
	}
	.fancybox__slide::before, .fancybox__slide::after{
		display: none;
	}
	.fancybox__container{
		// top: initial;
		// max-height: 100%;
	}
}




.modal-win--rew{
		width: 900px;
		.sRew__row{
			margin-bottom: 1rem;
			picture{
				margin-bottom: 0;
			}
		}
		picture{
			margin-bottom: 1rem;
		}
}

.modal-win{
	box-shadow: 0px 19px 57px rgba(0, 0, 0, 0.11);
	border-radius: 10px;
	&--steps{
		padding: 0;
		width: 1216px;
	}
	.tabs{
		&__caption{
			border-bottom: 1px solid rgba($color: #000000, $alpha: .2);
			@include media-breakpoint-up(sm) {

				display: flex;
				padding-left: rem(30);
				flex-wrap: wrap;
			}
		}
		&__btn{
			cursor: pointer;
			border-bottom: 1px solid transparent;
			@include media-breakpoint-up(sm) {

				padding: rem(26) rem(10);
				margin-bottom: -1px;
				text-align: left;
				margin-right: rem(10);
			}
			text-align: center;
			padding: rem(16) rem(10);
			font-size: rem(18);
			&:hover,
			&.active{
				border-color: $primary;
			}
		}
		&__wrap{
				@include media-breakpoint-up(sm) {

					padding: rem(40);
				}
				padding: rem(20);
			position: relative;
		}
	}
	&__arrow-wrap{
		position: absolute;
		right: rem(0);
		top: rem(0);
		width: rem(36 * 3);
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 10;
	}
	&__title{
		@include rfs(60px);
		line-height: 1;
		margin-bottom: rem(10);
	}
	p{
		max-width: rem(865);
	}
	.swiper-pagination{
		text-align: left;
		padding-left: 0;
		padding-top: 40px;
	}
}

.fancybox__content>.carousel__button.is-close  {
	@extend .btn, .btn-primary;
	padding: 0;
	border-radius: 0;
	@include media-breakpoint-up(lg) {

		top: -5px;
		right: -5px;
	}
	top: 0;
	right: 0;
	color: #fff !important; 

}

.modal-win--form{
	
	padding: 30px  20px;
	.tmr_el{
		color: $body-color;
	}
	.tmr_el_val { 
			background-color: primary !important;
			&:before{ 
			}
		}

			.tmr_el_val{
		// position: relative;
		// width: rem(68);
		// height: rem(68);
		// line-height: rem(68);
		color: $white;
		background-color: $primary;

		// @include rfs(40px);
		// border-radius: rem(10px);
		// padding: 0;
		// font-weight: 400;
	}

	.tmr_el_unit{
		color: #000;
	}
	.time__block .idvd_timer{
		margin-bottom: 1rem;
		justify-content: center;
	}
}

.modal-win--strategy{
	padding: rem(32px);
	width: 1216px;
	.row{
		// --bs-gutter-x: var(--bs-gutter-y);
		--bs-gutter-y: var(--bs-gutter-x);
	}
}
.strategy-item{
	background: #F3F3F3;
	&__body,
	&__footer{

		padding: 26px;
	}
	min-height: 100%;
	&__footer{
		padding-bottom: 0;
		border-top: 1px solid rgba($color: #000000, $alpha: .2);

	}
	&.dark{
		color: #fff;
		background: #000000;
	}
	&__title{
		font-size: rem(24);
		margin-bottom: rem(10);
		strong{
			
			font-weight: 600;
		}
	}
	p{
		font-size: rem(16);
	}
	.text-primary{

	}
	&__footer{
		font-size: rem(14);
		p{
			margin-bottom: 0;
		}
		.row{
			--bs-gutter-x: #{rem(20)};
		}
		padding-bottom: rem(20px);
		.col{
			font-size: rem(12);
		}
	}

}