
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-steps"  style="display: none" )
		+b.modal-win--steps
			.tabs
				.tabs__caption
					.tabs__btn.active Шаг 1: «Подготовка»
					.tabs__btn Шаг 2: «Торговля»
					.tabs__btn Шаг 3: «Автоматизация»
				.tabs__wrap
					mixin tab()
						.tabs__content&attributes(attributes)
							+e.slider--js.swiper
								+e.arrow-wrap
									+arrow()
								.swiper-wrapper
									block 
								.swiper-pagination
					mixin slide(n,t,p, p2)
						+e.slide.swiper-slide
							p.text-primary= ` Занятие ${n}:` 
							+e.title!= t
							p!= p
							p.text-primary Результат: 
							p!= p2

					+tab().active
						+slide('1','Регистрация счёта','Вы познакомитесь с основными понятиями о том, как работает рынок, кто такой брокер. Мы вместе и поэтапно пройдём процедуру открытия счета.','у вас открыт торговый счет для работы.')

						+slide('2','Подключение торгового счета','Вы установите и настроите специальную программу (торговый терминал) и подключите к нему свой новый торговый счет.',' установлен и настроен торговый терминал.')

						+slide('3','Изучаем функционал робота: базовый','Перед тем, как приступить к работе с роботом, вы познакомитесь с его функциями, возможностями и настройками: за что отвечает каждая из них и на что влияет.','понимание базовых принципов работы робота.')

						+slide('4','Изучаем функционал робота: углубленный.','Продолжаем знакомиться с MasterTradePRO 2.0 и переходим к вспомогательным и углубленным настройкам. Здесь же вы получите подробное описание всех функций (памятку) в формате PDF-документа.','полное представление о функциях робота.')

						+slide('5','Важное про управление рисками.','Вы узнаете о важных законах управления риском: в каких случаях и каким размером депозита входить в сделки.','вы знаете, как не «слить» депозит.')

						+slide('6','Готовим виртуальный сервер.','Последние технические приготовления. Если вы захотите использовать робот круглосуточно или подключаться к нему с телефона в любом месте, вам потребуется установить его на виртуальный сервер. Это совсем несложно. Мы полностью разберем, что это такое и как это сделать.','вы можете установить и настроить сервер для робота.')

					+tab()
						+slide('7','Установка и настройка робота','Вы получаете робот и подробную инструкцию по его установке на торговый счет. Это будет несложно, потому что с функционалом и настройками вы уже познакомились на предыдущем шаге.','вы установили робота на свой торговый счёт.')

						+slide('8','Основа торговой стратегии','Вы узнаете главные принципы успешных сделок с роботом MasterTradePRO 2.0 и получите текстовое описание стратегии в PDF','вы знаете главную базовую стратегию совершения сделок.')

						+slide('9','Трендовая стратегия, часть первая','Вы полностью изучите основную стратегию заработка на ценовых движениях, которые происходят каждый день. Чтобы было проще запомнить, описание стратегии прилагается в PDF.','вы знаете главную базовую стратегию совершения сделок')

						+slide('10','Трендовая стратегия, часть вторая','Евгений Стриж покажет, как применять стратегию на реальном графике. Это поможет перенести теорию на практику.','вы знаете главную базовую стратегию совершения сделок.')

						+slide('11','Флетовая стратегия','На рынке бывает так, что график особо никуда не двигается. Но даже в этом случае можно зарабатывать, используя специальную (флетовую) стратегию. В этом занятии вы подробно изучите её и, конечно же, получите описание в PDF.','вы знаете, как можно заработать даже если не происходит сильных движений.')

						+slide('12','Трёхсигнальная вариация','Самые точные и прибыльные сделки! Появляются нечасто, но вы научитесь их видеть и дополнительно получать сверхприбыль. Подробное описание правил так же прилагается в PDF.','вы владеете знанием о том, как распознать самый сильный сигнал для входа в сделку')

						+slide('13','Индикаторы-помощники.','Вы изучите два специальных индикатора от Евгения, встроенных в робота. Они помогут вам в поиске и определении точек входа.','вы знаете, как упростить себе торговлю.')
					+tab()
						+slide('14','Автостратегия «скальпинг»','Быстрые и частые сделки, да еще и на автомате! Да, с MasterTradePRO 2.0 такое возможно. Вы узнаете, как «торговать, не торгуя» менее чем за 25 минут.',' вы настроили робота на быстрые сделки в автоматическом режиме')
						
						+slide('15','Автостратегия «внутридневная»','Настройка автоматической работы робота на спокойную внутридневную торговлю. Инструкция и файлы с профилями настроек прилагаются.','вы настроили робота на спокойную торговлю на автомате')

						+slide('16','Автостратегия «среднесрок»','Настройка автоматической работы робота на длинные сделки, которые будут длится несколько дней. Инструкция и файлы с профилями настроек прилагаются.','вы настроили робота на долгосрочную торговлю на автомате')

						+slide('17','Автостратегия «рискованная»','Самая опасная стратегия, но при этом неприлично прибыльная. Если вы будете использовать ее на уже полученной прибыли, то для вас риски не будут существенными.','вы настроили робота на режим разгона депозита в автоматическом режиме.')

						+slide('18',': Психология успешного трейдера','Как бороться с ленью и апатией, а также со страхом и жадностью? Евгений Стриж делится золотым запасом правил долгосрочного успеха в трейдинге.','вы умеете обходить психологические ловушки.')

						+slide('19','Последние обновления','Евгений Стриж постоянно дорабатывает и обновляет робота. Вы получите новейшую версию советника на момент обучения и видеоинструкцию по использованию обновленной версии.','ваш робот обновлён до текущей последней версии')
					
				
	// #modal-call
	
	
	// end modals