mixin sRew(data)
	// start sRew
	+b.SECTION.sRew.section#sRew&attributes(attributes)
		.container
			+b.section-title
				h2 &laquo;Сегодня я&nbsp;точно знаю, что #[span заработок 30 000-50&nbsp;000 долларов] за&nbsp;полчаса-час&nbsp;&mdash; это не&nbsp;сказка,  а&nbsp;суровая правда жизни.&raquo;
				
			.row
	// end sRew