// start .sRew
.sRew {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;

		h2{
		span{
			&::after{
				height: 100%;
				top: 0;
			}
			padding: rem(10) rem(10);
			display: inline; 
			// background-color: $primary;
		}
	}
	&__slider{
		overflow: visible;
		@include media-breakpoint-up(lg) {
				margin-left: 0;

				max-width: rem(488 *2 + 32 );
			}
	}
	&__slide{
		position: relative;
			@include media-breakpoint-up(lg) {
				max-width: 100%;
			}
		max-width: rem(488);
		
		// width: 100%;
		border: 1px solid rgba($color: #000000, $alpha: .5);
		border-radius: 10px;
		height: auto;
		padding: rem(30);
		border: 1px solid rgba($color: #000000, $alpha: .5); 
		border-radius: 10px;
		display: flex;
		flex-direction: column;
	}
	&__title{
		font-size: rem(24);
		margin-bottom: 1em;
	}
	p{
		font-size: rem(16);
		.link-modal-js{
			font-size: rem(18);
			&::before{
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
			}
		}
	}

	&__row{
		align-items: center;
		margin-top: auto;
	}
	&__control-wrap{
		
		margin-top: rem(44);
	}
	&__arrow-wrap{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.swiper-pagination{
		text-align: left;
		padding: 0;

	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sRew


	.avatar{
		width: rem(80);
	}