mixin sWhySelling(data)
	// start sWhySelling
	+b.SECTION.sWhySelling.section#sWhySelling&attributes(attributes)
		img(src="img/svg/sImpossible-bg.svg" loading='lazy' class='graf', alt="")
		.container
			.row
				+e.col-left.col-md-7
					+b.section-title
						h2
							span Зачем 
							span Вы это продаете?
					+e.text
						p Это самый частый вопрос, который мне задают новички

						p Если коротко: я&nbsp;собираю команду трейдеров, которые уже научились зарабатывать, используя мои стратегии. Людей, с&nbsp;которыми мы&nbsp;сможем на&nbsp;выгодных условиях совместно управлять средствами крупных инвесторов.
				+e.col-right.col
					p Факт: 
					p 
						strong.text-primary денег всегда больше, чем тех людей, которые умеют их&nbsp;приумножать.
					p.small Если работа в&nbsp;команде Вас не&nbsp;заинтересует&nbsp;&mdash; никаких проблем. Просто забирайте мои знания и&nbsp;торговые алгоритмы&nbsp;&mdash; и&nbsp;работайте самостоятельно, исключительно на&nbsp;себя. Никаких обязательств я&nbsp;с&nbsp;Вас не&nbsp;беру!
	// end sWhySelling