extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sBored/_sBored.pug
include ../blocks/sLucky/_sLucky.pug
include ../blocks/sHow/_sHow.pug
include ../blocks/sImpossible/_sImpossible.pug
include ../blocks/sFooterText/_sFooterText.pug
include ../blocks/sInclude/_sInclude.pug
include ../blocks/sWhySelling/_sWhySelling.pug
include ../blocks/sTotal/_sTotal.pug
include ../blocks/sHowWork/_sHowWork.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg='index.png'

block title
	- let  title= 'title'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		+top-nav()
	//+topLine()
	+headerBlock()
	+sBored()
	+sLucky()
	+sHow()
	+sImpossible()
	//- +sForm()
	//- +sContact()
	+sHowWork
	+sTotal
	+sWhySelling
	+sInclude
	+headerBlock2
	+sFooterText
	+footer()