mixin sFake(data)
	// start sFake
	+b.SECTION.sFake.section#sFake&attributes(attributes)
		.container
			+b.section-title
				h2
					| «Подождите… Форекс?..
					|
					span Так это ж лохотрон!»
				p Очень распространенное заблуждение.
			+e.descr
				p Послушайте! FOREX — это международный валютный рынок с ежедневным оборотом более 10 триллионов долларов.
				p Центральные и коммерческие банки всех стран мира, валютные биржи и брокеры, юридические и физические лица — ежедневно совершают валютные операции на FOREX…
			+e.box
				+e.box-txt на сумму более 10 триллионов долларов. каждый день
				+pic('sFake-img.jpg')(class="sFake__img")
				+e.box-bot
					span > $ 10 000 000 000 000 в день
			+e.items
				+sFakeItem('и Вы называете этот рынок «лохотрон»? ')
					| Другое дело, что такое «денежное место» привлекает множество мошенников. И всегда есть риск столкнуться с ними, например, попытавшись «сэкономить» и выбрав в качестве брокера «Forex-кухню» — см.
					|
					a(href="#") Кухня_(финансы)
				+sFakeItem('Но как этого избежать я Вас научу')
					| В любом торговом центре карманник может стащить Ваш кошелек. Означает ли это, что все ТЦ — «лохотроны» и там нельзя ничего покупать?
			.text-center
				+e.foot-btn(href="#") Начать зарабатывать
	// end sFake

mixin sFakeItem(title)
	+e.item
		+e.i-title=title
		+e.i-descr
			block