mixin menu-toggle()
	+b.toggle-menu-mobile--js
		span

mixin mob-mnu()
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню

mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		+e.container.container
			+e.row.row.align-items-center
				.col
					+e.logo(href="#")
						img(loading="lazy" src="img/svg/logo.svg" alt="")
				.col-auto
					+e.btn(href="https://client.digitalproduct.ru/login" target="_blank") &#160;Войти&#160;
	// end top-nav