.top-nav {
	padding: rem(30) 0;

	.container{
		@include media-breakpoint-up(xxl){
			padding-left: 21px;
			padding-right: 16px;
		}
	}
	&__logo{
		img{

		}
	}
	&__btn{
		@extend .btn-default;
		padding: rem(10);
		min-width: rem(107);

		font-weight: 600;
		font-size: rem(14);
		line-height: calc(18/14);
	}
	&__{}
	&__{}
	&__{}
}


