mixin sAuthor(data)
	// start sAuthor
	+b.SECTION.sAuthor.section#sAuthor&attributes(attributes)
		.container
			.row

				.col
					h2 «Да кто ты вообще такой, Евгений Стриж?»
					ul
						li Непрерывно занимается трейдингом #[strong с&nbsp;2004 года] (работает на&nbsp;рынках FOREX, NYSE, CME, криптовалюты)
						li Начинал #[strong с&nbsp;абсолютного нуля], без связей и&nbsp;стартового капитала
						li Евгений регулярно делится видео-записями своей торговли со&nbsp;всеми желающими.
							br
							a(href="img/@2x/check.jpg" data-fancybox="gal-1") Вот так выглядит его типичный ЕЖЕДНЕВНЫЙ доход &rarr;
						li Стандартный для Евгения заработок на&nbsp;рынке CME: #[strong +$30.000 личной прибыли на&nbsp;одной сделке]
							br
							a(href="img/@2x/rez2.jpg"  data-fancybox="gal-2") Доказательства →
						li Средний результат Евгения на&nbsp;рынке FOREX&nbsp;&mdash; #[strong $8.000 личной прибыли в&nbsp;месяц]
							br
							a(href="img/@2x/statement1.jpg" data-fancybox="gal-22") Доказательства →
						li С&nbsp;2011 года проводит #[strong эксклюзивное обучение в&nbsp;Инфо-ДВД]
							br
							a(href="img/@2x/2020-02-20_16-32-57.jpg" data-fancybox="gal-122") Доказательства →
						li Сторонник концепции &laquo;эффективного трейдинга&raquo;: #[strong максимум прибыли при минимальных затратах времени и&nbsp;усилий]
				+e.col.col-lg-7.order-lg-first
					img(src="img/svg/sImpossible-bg.svg" class="img-graf", alt="")
					+pic("author.png")
	// end sAuthor