mixin sHowWork(data)
	// start sHowWork
	+b.SECTION.sHowWork.section#sHowWork&attributes(attributes)
		.container
			+b.section-title
				h2 «Хорошо. #[span Как работает система] &mdash;&nbsp;если по-простому?&quot;
				
			.row
				mixin item(i,p)
					+e.col.col-xl-3.col-sm-6
						+e.item
							+e.img-wrap
								img(src=`img/svg/sHowWork-${i}.svg`, alt="")
							p!= p
				+item(`1`,`Робот анализирует весь имеющийся спектр данных по&nbsp;торгам в&nbsp;реальном времени`)
				+item(`2`,`Определяет моменты, в&nbsp;которых крупные участники рынка начинают двигать цену`)
				+item(`3`,`Вычисляет с&nbsp;вероятностью более&nbsp;80% направление, в&nbsp;котором это движение произойдет`)
				+item(`4`,`Находит идеальные моменты для входа в&nbsp;сделку: в&nbsp;самом начале движения`)
	// end sHowWork