mixin sFooterText(data)
	// start sFooterText
	+b.SECTION.sFooterText.section#sFooterText&attributes(attributes)
		.container
			.row
				.col-sm-auto
					img(src="img/svg/gold.svg" loading="lazy", alt="")
				.col
					h2 
						span «Золотой уровень доверия» 
						|  — стандартная надежность
					p То&nbsp;есть, по&nbsp;своей сути, &laquo;золотым уровнем доверия&raquo; помечаются &laquo;классические&raquo; обучающие курсы/программы от&nbsp;нашего издательства. Те&nbsp;курсы, тренинги, мультикурсы, которые вы&nbsp;и&nbsp;раньше приобретали у&nbsp;нас и&nbsp;которые, собственно, завоевали для нашего издательства столь высокую репутацию!

					p &laquo;Золотая метка&raquo; означает, что тема данного курса не&nbsp;вызывает этических нареканий со&nbsp;стороны большинства членов редколлегии, а&nbsp;вероятность положительного результата от&nbsp;обучения/применения данных знаний, методик, программ (при неукоснительном соблюдении всех инструкций автора) находится в&nbsp;районе&nbsp;80%.
			+e.footer-block 
				+e.footer-block-inner
					.row
						.col
							p Торговля на&nbsp;бирже всегда сопряжена с&nbsp;рисками потери денежных средств полностью или частично, изучите
						.col-sm-auto
							+e.btn(href="invest_ideas_warning.pdf" target="_blank")  Предупреждение о рисках
	// end sFooterText